

!.gitignore
!*.iml
/.idea/workspace.xml
/.idea/tasks.xml

#possibly not
/.settings/

#################
## Mine

# ??? temp file ???
__rzi_0.*
._bin*.tmp

# saved data
data/*.data
mycars/*.data
mystages/*.data

# mycars/stages
#*.rad
mystages/mymusic/*.zip
mystages/*.txt
mycars/*.rad

# Saved game data (opennfm)
usercar.dat
userstage.dat
unlocked.dat
gameprfact.dat

# stored nick keys
nick.dat

# Bluej project data
*.bluej

# BlueJ comment context
*.ctxt

# Appletviewer data
GameSparker*.html
StageMaker*.html
CarMaker*.html
#/GameSparker1443925737683.html
#/GameSparker1443927622069.html
#/GameSparker1444369485404.html
#/GameSparker1444369589384.html
#/GameSparker1444860298838.html

# Game runner
#*.ini
#*.exe

# Java
#*.class # already set
#java.policy.applet

# Eclipse
user_dictionary.txt
#*.html
data/exit.html
#*.ini # dupe
#package.bluej # dupe

# Backups and stuff
/stages[1]/
/stages[2]/

## Java

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

## Windows

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files

# OSX

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

## Eclipse

*.pydevproject
#.project
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
#.classpath
#.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

#############
## Windows detritus




# Mac crap

##### #####

#Mr Developer
.mr.developer.cfg

#Eclipse EGit
/target/
/mystages/
/mycars/
/music/temp_*
/saved.data
/logs/



/images/
/img2/
/img3/
/mpmodels/
/amodels/
/models/
/nick.dat

/nfmdd.txt
